* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica;
    color: white;
    background: url('https://static.vecteezy.com/system/resources/previews/008/203/769/non_2x/psychedelic-swirl-groovy-pattern-psychedelic-retro-wave-wallpaper-liquid-groovy-background-design-illustration-vector.jpg') center;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .intro {
    padding: 20px;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
  }
  
  .form {
    padding: 20px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.5);
    max-width: 100%;
  }
  
  .name, .location, .description, button {
    padding: 10px;
    margin: 5px 0;
    width: calc(100% - 22px);
    border-radius: 25px;
    font-size: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: gray;
    transition: background-color 0.7s;
    cursor: pointer;
  }
  
  input[type="url"] {
    padding: 10px;
    margin: 5px 0;
    width: calc(100% - 22px);
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: gray;
    transition: background-color 0.7s;
    cursor: pointer;
  }
  
  label {
    font-size: 20px;
  }
  
  input:hover, button:hover {
    background-color: white;
    color: black;
  }